VITE_SUPABASE_URL=https://opwccxudpfrxlqpekhcj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9wd2NjeHVkcGZyeGxxcGVraGNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAzODc5MTYsImV4cCI6MjA4NTk2MzkxNn0.c-T6P17KGcCiDZYd7Gq8mfxfEY0bhzWQ98qrVHjr070



